#bowls{
  position: fixed;
  bottom: -1110px;
  right: -1110px;
  z-index: -1;
}
#bowls img{
  width: 137.5rem;
  height: auto;
  transition: all 0.6s;
}

#bowls.banana img{
  transform: rotate(0deg);
}

#bowls.morango img{
  transform: rotate(-90deg);
}

#bowls.kiwi img{
  transform: rotate(-180deg);
}

#bowls.mertilho img{
  transform: rotate(-270deg);
}

#circle{
  position: fixed;
  bottom: -580px;
  right: -580px;
  width: 72.5rem;
  height: 72.5rem;
  z-index: -2;
  border-radius: 100%;
  background: var(--banana-circle);
  transition: all 0.6s;
}